<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barber Shop</title>
<!-- fonts link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <div class="d-flex">
      <div class="col-lg-12">
          <header id="header" class="confirmed-header">
              <div class="container header-container">
                  <div class="cart-header confirmed-header">
                    <h1 class="heading none">Verify Confirmation</h1>
                  </div>
              </div>
           </header>
      <div class="container">
       <div class="main- confirm-main mmain">
          <div class="confirmed-card-main">
               <div class="confirmed-svg">
                  <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 213 213" fill="none">
                      <path opacity="0.4" d="M106.5 195.25C155.515 195.25 195.25 155.515 195.25 106.5C195.25 57.4847 155.515 17.75 106.5 17.75C57.4847 17.75 17.75 57.4847 17.75 106.5C17.75 155.515 57.4847 195.25 106.5 195.25Z" fill="#04AC15"/>
                      <path d="M93.8975 138.273C92.1225 138.273 90.4362 137.563 89.1937 136.32L64.0775 111.204C61.5037 108.63 61.5037 104.37 64.0775 101.796C66.6512 99.2227 70.9112 99.2227 73.485 101.796L93.8975 122.209L139.515 76.5914C142.089 74.0177 146.349 74.0177 148.923 76.5914C151.496 79.1652 151.496 83.4252 148.923 85.9989L98.6012 136.32C97.3587 137.563 95.6725 138.273 93.8975 138.273Z" fill="#04AC15"/>
                    </svg>
               </div>
               <h2 class="confirm-text">Thank you for your confirmation</h2>
               <p class="confirm-number-text">Your confirmation number :</p>
               <p class="confirm-number-number">0  0  1  5</p>
               <div class="confirmed-all-btns">
                <div class="confirm-btn">
                    <button type="button" class="btn new-loc-btn confirmed_btns">
                      <i class="fa-solid fa-calendar-days new-loc-btn-icon confirmed_btns-text"></i>
                      <p class="new-loc-btn-text confirmed_btns-text">Add to Google Calendar</p>
                     </button>
                </div>
                <div class="confirm-btn">
                    <button type="button" class="btn new-loc-btn confirmed_btns m-confirm-btn">
                      <i class="fa-solid fa-circle-plus new-loc-btn-icon confirmed_btns-text"></i>
                      <p class="new-loc-btn-text confirmed_btns-text">Start New Booking</p>
                     </button>
                </div>
                <div class="confirm-btn">
                    <button type="button" class="btn new-loc-btn confirmed_btns">
                      <i class="fa-solid fa-calendar-days new-loc-btn-icon confirmed_btns-text"></i>
                      <p class="new-loc-btn-text confirmed_btns-text">Add to Google Calendar</p>
                     </button>
                </div>
             </div>
             </div>
      </div>
       </div>
      </div>
    </div>


  <!-- <div class="confirmed-all-btns">
    <div class="confirm-btn">
        <button type="button" class="btn new-loc-btn confirmed_btns">
          <i class="fa-solid fa-calendar-days new-loc-btn-icon confirmed_btns-text"></i>
          <p class="new-loc-btn-text confirmed_btns-text">Add to Google Calendar</p>
         </button>
    </div>
    <div class="confirm-btn">
        <button type="button" class="btn new-loc-btn confirmed_btns">
          <i class="fa-solid fa-circle-plus new-loc-btn-icon confirmed_btns-text"></i>
          <p class="new-loc-btn-text confirmed_btns-text">Start New Booking</p>
         </button>
    </div>
    <div class="confirm-btn">
        <button type="button" class="btn new-loc-btn confirmed_btns">
          <i class="fa-solid fa-calendar-days new-loc-btn-icon confirmed_btns-text"></i>
          <p class="new-loc-btn-text confirmed_btns-text">Add to Google Calendar</p>
         </button>
    </div>
 </div> -->

   <script src="js/jquery-1.12.4.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/script.js"></script>
  </body>
</html>
