<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barber Shop</title>
<!-- fonts link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
  <div class="d-flex m-view">
    <div class="col-lg-2">
      <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-logo" href="#">
          <img src="./images/main-logo.png"/>
        </div>
        <div class="d-flex justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-list" href="index.html">
                <div class="nav-list-img-box">
                  <img src="./images/location.png"/>
                </div>
                <p class="nav-link">Location</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-list" href="staff.html">
                <div class="nav-list-img-box">
                  <img src="./images/profile.png"/>
                </div>
                <p class="nav-link">Staff</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-list" href="service.html">
                <div class="nav-list-img-box">
                  <img src="./images/task-square.png"/>
                </div>
                <p class="nav-link">Service</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-list" href="dateTime.html">
                <div class="nav-list-img-box">
                  <img src="./images/calendarT.png"/>
                </div>
                <p class="nav-link">Date & Time</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-list" href="cart.html">
                <div class="nav-list-img-box">
                  <img src="./images/Shop.png"/>
                </div>
                <p class="nav-link">Cart</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-list" href="information.html">
                <div class="nav-list-img-box">
                  <img src="./images/personalcard.png"/>
                </div>
                <p class="nav-link">Information</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-list" href="finish.html">
                <div class="nav-list-img-box">
                  <img src="./images/import.png"/>
                </div>
                <p class="nav-link">Finish</p>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-lg-10">
     <header id="header">
        <div class="container header-container">
            <h1 class="heading">Choose a Service</h1>
        </div>
     </header>
    <div class="container">
     <div class="main- m-staff-main">
       <div class="selected-service">
        <div class="wrap-drop">
          <div class="service-item" onclick="selectServiceItem(this)">
            <div>
              <p class="service-text">Grooming</p>
            </div>
            <div class="dropdown-container">
              <div>
                <i class="fa-solid fa-angle-down service-drop-icon" onclick="toggleDrop()"></i>
                <i class="fa-solid fa-angle-up service-drop-icon drop-up-icon" onclick="toggleDrop()"></i>
              </div>
            </div>
          </div>
          <div class="dropdown-content">
            <div class="dropdown__" onclick="selectedItem(this)">
             <div class="drop-details">
              <div class="drop-img-box">
                <img src="./images/staff-img.png" class="drop-img-"/>
              </div>
               <div class="service-details">
                 <h3 class="ser-name">Fades</h3>
                 <p class="ser-min">30 Min</p>
               </div>
             </div>
             <div>
               <p class="ser-price">$35.00</p>
             </div>
            </div>
            <div class="dropdown__ service-two" onclick="selectedItem(this)">
              <div class="drop-details">
               <div class="drop-img-box">
                 <img src="./images/staff-img.png" class="drop-img-"/>
               </div>
                <div class="service-details">
                  <h3 class="ser-name">Lineups</h3>
                  <p class="ser-min">30 Min</p>
                </div>
              </div>
              <div>
                <p class="ser-price">$20.00</p>
              </div>
             </div>
             <div class="dropdown__ service-two" onclick="selectedItem(this)">
              <div class="drop-details">
               <div class="drop-img-box">
                 <img src="./images/staff-img.png" class="drop-img-"/>
               </div>
                <div class="service-details">
                  <h3 class="ser-name">Fade & lineups</h3>
                  <p class="ser-min">30 Min</p>
                </div>
              </div>
              <div>
                <p class="ser-price">$55.00</p>
              </div>
             </div>
          </div>
        </div>
        <div class="wrap-drop mT-2 mmT-1">
          <div class="service-item" onclick="selectServiceItem(this)">
            <div>
              <p class="service-text">Hair Coloring</p>
            </div>
            <div class="dropdown-container">
              <div>
                <i class="fa-solid fa-angle-down service-drop-icon service-drop-iconTwo" onclick="toggleDropTwo()"></i>
                <i class="fa-solid fa-angle-up service-drop-icon drop-up-icon drop-up-iconTwo" onclick="toggleDropTwo()"></i>
              </div>
            </div>
          </div>
          <div class="dropdown-contentTwo dropdown-content">
            <div class="dropdown__" onclick="selectedItem(this)">
             <div class="drop-details">
              <div class="drop-img-box">
                <img src="./images/staff-img.png" class="drop-img-"/>
              </div>
               <div class="service-details">
                 <h3 class="ser-name">Fades</h3>
                 <p class="ser-min">30 Min</p>
               </div>
             </div>
             <div>
               <p class="ser-price">$35.00</p>
             </div>
            </div>
            <div class="dropdown__ service-two" onclick="selectedItem(this)">
              <div class="drop-details">
               <div class="drop-img-box">
                 <img src="./images/staff-img.png" class="drop-img-"/>
               </div>
                <div class="service-details">
                  <h3 class="ser-name">Lineups</h3>
                  <p class="ser-min">30 Min</p>
                </div>
              </div>
              <div>
                <p class="ser-price">$20.00</p>
              </div>
             </div>
             <div class="dropdown__ service-two" onclick="selectedItem(this)">
              <div class="drop-details">
               <div class="drop-img-box">
                 <img src="./images/staff-img.png" class="drop-img-"/>
               </div>
                <div class="service-details">
                  <h3 class="ser-name">Fade & lineups</h3>
                  <p class="ser-min">30 Min</p>
                </div>
              </div>
              <div>
                <p class="ser-price">$55.00</p>
              </div>
             </div>
          </div>
        </div>
        <div class="wrap-drop mT-2 mmT-1">
          <div class="service-item" onclick="selectServiceItem(this)">
            <div>
              <p class="service-text">Men’s Hair</p>
            </div>
            <div class="dropdown-container">
              <div>
                <i class="fa-solid fa-angle-down service-drop-icon service-drop-iconTh" onclick="toggleDropTh()"></i>
                <i class="fa-solid fa-angle-up service-drop-icon drop-up-icon drop-up-iconTh" onclick="toggleDropTh()"></i>
              </div>
            </div>
          </div>
          <div class="dropdown-contentTh dropdown-content">
            <div class="dropdown__" onclick="selectedItem(this)">
             <div class="drop-details">
              <div class="drop-img-box">
                <img src="./images/staff-img.png" class="drop-img-"/>
              </div>
               <div class="service-details">
                 <h3 class="ser-name">Fades</h3>
                 <p class="ser-min">30 Min</p>
               </div>
             </div>
             <div>
               <p class="ser-price">$35.00</p>
             </div>
            </div>
            <div class="dropdown__ service-two" onclick="selectedItem(this)">
              <div class="drop-details">
               <div class="drop-img-box">
                 <img src="./images/staff-img.png" class="drop-img-"/>
               </div>
                <div class="service-details">
                  <h3 class="ser-name">Lineups</h3>
                  <p class="ser-min">30 Min</p>
                </div>
              </div>
              <div>
                <p class="ser-price">$20.00</p>
              </div>
             </div>
             <div class="dropdown__ service-two" onclick="selectedItem(this)">
              <div class="drop-details">
               <div class="drop-img-box">
                 <img src="./images/staff-img.png" class="drop-img-"/>
               </div>
                <div class="service-details">
                  <h3 class="ser-name">Fade & lineups</h3>
                  <p class="ser-min">30 Min</p>
                </div>
              </div>
              <div>
                <p class="ser-price">$55.00</p>
              </div>
             </div>
          </div>
        </div>
       </div>
      </div>
      <footer id="footer" class="mt-auto service-footer">
       <div class="help-btn">
         <div>
             <button type="button" class="btn btn-primary back-btn">Back</button>
         </div>
         <div>
           <button type="button" class="btn btn-danger need-help-btn">Need Help?</button>
         </div>
        </div>
      </footer>
    </div>
    </div>
  </div>


  
   <script src="js/jquery-1.12.4.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/script.js"></script>
  </body>
</html>
